* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh; /* Ensures the container always covers the full screen */
    width: 100%;
    background: linear-gradient(to bottom left, #1eb0ba 0%, #c0eaed 100%);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    display: flex;
    flex-direction: column;
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.navbar {
    height: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 2rem;
}

#CAREENA {
    color: #05445E;
    font-weight: bold;
    font-size: 1.5rem;
}

main {
    flex: 1; /* Allows main content to take remaining space and prevent overflow */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.main-box {
    height: 70vh;
    width: 60vh;
    background-color: white;
    border-radius: 2rem;
    text-align: center;
}

.question-box {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

.chatBot-img {
    height: 70px;
    width: 70px;
    background-image: url(chatbotphoto.avif);
    background-size: cover;
    border-radius: 50%;
}

#input {
    width: 50%;
    height: 4rem;
    border: none;
    outline: none;
    border-radius: 0.75rem;
    font-size: 1rem;
    padding-left: 0.5rem;
    color: #0e3737;
    background: linear-gradient(to bottom, #7beded 0%, #a9ebf3 100%);
    border: 1px solid #0d6a6a;
}

.img-container-div {
    width: 90%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1rem;
    font-size: 1.25rem;
    height: 6%;
    width: 50%;
}

#img-btn {
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    background-color: white;
    font-size: 1.2rem;
    list-style: none;
    cursor: pointer;
}

#img-btn:active {
    color: rgb(59, 59, 59);
}

#microphone-btn {
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    font-size: 1rem;
    background-color: #1489b0;
    color: white;
    cursor: pointer;
}

#microphone-btn:active {
    background-color: #54c5ea;
}

.ans-div {
    width: 70%;
    height: 100%;
    margin-top: 5rem;
    color: #082531;
    font-size: 1rem;
}

h2 {
    color: #0e3737;
    margin-top: 10rem;
}

h2 i {
    color: rgb(94, 91, 91);
}

.anim {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 2.5s linear forwards;
}

@keyframes moveup {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
